[2015-11-15 23:57] MStruntze opened #1 "Error upon join for all players"
After updating to the latest version (retried as of today - same error), this error seems to occur when joining:
![Image of error](http://puu.sh/ln0Lj/d68fee5b86.png)

I don't know what information to provide you, so let me know.
Running DarkRP.

[2015-11-16 06:36] SticklyMan commented on #1
This is a conflict between FPP and ULib- we're working on a solution at the moment.

[2015-11-16 21:11] SticklyMan commented on #1
FPtje has just fixed this in the latest version of FPP.
https://github.com/FPtje/Falcos-Prop-protection/issues/147#issuecomment-157170477

[2015-11-16 21:11] #1 closed, assigned to nobody

[2015-11-18 18:41] Nayruden opened #2 "More descriptive ban information"
Seems we can stick more information in there now, so we should utilize it.

See:
https://scriptfodder.com/scripts/view/248
https://facepunch.com/showthread.php?t=1421884

[2015-11-19 14:33] Nayruden opened #3 "Test non-ASCII characters during save/load"
See http://forums.ulyssesmod.net/index.php/topic,9116.msg46607.html#msg46607

[2015-11-19 15:22] Nayruden commented on #3
Tested with http://www.ltg.ed.ac.uk/~richard/unicode-sample.html and Linux is able to read and write the file fine. Further testing needed.

[2015-11-19 17:00] Nayruden commented on #3
Nope, seems to work find on Windows and Linux

[2015-11-19 17:00] #3 closed, assigned to Nayruden

[2015-12-06 14:19] Nayruden opened #4 "Need new method of resetting groups/users to defaults"
Historically, to reset groups back to defaults we would simply delete the groups.txt and change maps. With CAMI, it seems that DarkRP makes some change to the groups just as the server is changing maps. Thus, everything is written out again.

[2015-12-10 19:32] deinemudda32 opened #5 "Possible race condition between two users unbanning a player"
[ERROR] addons/ulx/lua/ulx/xgui/bans.lua:21: Tried to use invalid object (type Panel) (Object was NULL or not of the right type)
1. GetValue - [C]:-1
   1. DoClick - addons/ulx/lua/ulx/xgui/bans.lua:21
   2. OnMouseReleased - lua/vgui/dlabel.lua:218
      1. unknown - lua/vgui/dmenuoption.lua:116

I tried unbanning a nil user.

[2015-12-11 00:20] Nayruden commented on #5
What do you mean by "a nil user"?

[2015-12-11 06:48] deinemudda32 commented on #5
I unbanned him with the xgui, but another admin unbanned him before, so I got this error after he was removed out of the banlist.

[2015-12-12 13:58] Nayruden commented on #5
Hmm, I believe XGUI is supposed to remove the user from your list, but it's definitely a timing issue XGUI should check for regardless.

[2015-12-12 16:04] Nayruden commented on #4
Changed my mind on this; current method is fine. DarkRP is saving all custom groups into its own database, which then gets shared back with ULX on map change. But, all details of the groups are flushed, so the current solution is "good enough" for a reset.

[2015-12-12 16:04] #4 closed, assigned to Nayruden

[2015-12-13 00:40] #2 closed, assigned to Nayruden

[2015-12-16 01:47] Nayruden opened #6 "Improvements to ULib.findVar"
Allow for environments other than _G and allow saving to value

[2015-12-30 05:15] deinemudda32 opened #7 "Updates available for"
Everytime a player joins, then it displays this message for the player:
"Updates available for"

[2015-12-30 12:12] Nayruden commented on #7
Wow, can't believe I missed that. Thanks for the report.

On Wed, Dec 30, 2015 at 00:15 David Dorn notifications@github.com wrote:

[2016-01-01 15:10] #7 closed, assigned to Nayruden

[2016-01-03 20:20] Nayruden commented on #6
Closed in 3013bf57afdcabe08c5d10832b074108474c348b

[2016-01-03 20:20] #6 closed, assigned to Nayruden

[2016-01-17 19:56] ghost opened #8 "Unknown Issue, probably my fault. If so, sorry!"
2016-01-17 11:55:40.8941|INFO|thread: 1|DashboardViewModel|Received request to clone: 'https://github.com/TeamUlysses/ulib'
2016-01-17 11:53:33.3615|INFO|thread: 1|CommandLineToolsExtractor|Portable Git and Git LFS are already extracted
2016-01-17 11:53:33.3615|INFO|thread: 1|GitClient|Installing git lfs filters
2016-01-17 11:53:33.3772|INFO|thread: 1|GitEnvironment|Process set up with this SSH Ag

[2016-01-17 20:06] ghost commented on #8
Re-downloaded Github desktop, issue resolved.

[2016-01-17 20:12] #8 closed, assigned to nobody

[2016-01-23 00:41] Nayruden opened #9 "Add new target keyword"
`@<team name>`

[2016-01-26 02:02] SticklyMan commented on #5
Fixed in https://github.com/TeamUlysses/ulx/commit/4b5d7291e3ffa129c1f73918371f142c54deba2e

[2016-01-26 02:02] #5 closed, assigned to SticklyMan

[2016-01-27 17:57] deinemudda32 opened #10 "Error"
[ERROR] lua/includes/extensions/math.lua:46: attempt to compare nil with number
1. Clamp - lua/includes/extensions/math.lua:46
   1. ValueChanged - addons/ulx/lua/ulx/modules/cl/xgui_helpers.lua:261
   2. SetValue - addons/ulx/lua/ulx/modules/cl/xlib.lua:587
      1. unknown - addons/ulx/lua/ulx/modules/cl/xlib.lua

[2016-01-27 18:02] Nayruden commented on #10
What were you doing when you received this error?

On Wed, Jan 27, 2016 at 12:57 PM, David Dorn notifications@github.com
wrote:

[2016-02-03 01:34] MStruntze opened #11 "No way to prevent ULib.refreshBans call"
If a larger part of the ban system has been replaced, and banid'ing all banned steamids is no longer wished, it's impossible to prevent it without modifying ULib.
I have my bans stored in a database and they are loaded from a database. I do not wish that all those bans are being banid'ed since there's no point in doing more than removing the from the ULib.bans upon unban.
Overwriting the refreshBa

[2016-02-03 12:20] Nayruden commented on #11
Fair points. I'll change it to load on a hook instead, so you will be able
to remove it.
On Tue, Feb 2, 2016 at 20:34 Mikkel Struntze notifications@github.com
wrote:

[2016-02-03 16:22] deinemudda32 commented on #10
Happend while browsing through the command categories randomly.

[2016-02-06 18:46] #11 closed, assigned to nobody

[2016-02-15 23:13] Nayruden opened #12 "Better error on malformed table string in ULib.find/setVar"
See getCrumbsTable.

[2016-02-17 00:57] Nayruden opened #13 "Investigate what happens if ULib is installed via workshop and traditionally"
Which one loads? Both? Which one loads first? Can we figure out which one is actually running for version information?

[2016-02-18 01:27] Nayruden commented on #13
I believe the addons directory runs over Workshop. Perhaps we should make it prefer the Workshop, if present? Seems easier to deal with from version control and help and support.

[2016-02-18 01:52] SticklyMan commented on #13
FYI - The mounting order is being changed in the next update. See Willox's post here for further details:
https://facepunch.com/showthread.php?t=1497739&p=49745928&viewfull=1#post49745928

But yes, the addons folder will take priority over workshop content after the update.

[2016-02-29 22:00] fruitwasp opened #14 "ban length on disconnect message show an hour as 59 minutes"
### Steps to reproduce
1. ban a player for an hour.
### Expected behavior

ban length on disconnect message should show 60 minutes or 1 hour.
### Actual behavior

ban length on disconnect message shows 59 minutes
### Version

ULib v2.52d (01/09/16)
ULX v3.62d (01/01/16)
### Extra

Code causing it: https://github.com/TeamUlysses/ulib/blob/5652d868bab0848abaf682f75b92871033a26bbe/lua/ulib/shared/mis

[2016-02-29 23:59] Nayruden commented on #14
Huh, that seems like something I probably had some reason for the way I implemented it, but I don't remember why.

[2016-03-30 19:30] ZachPL opened #15 "Random NULL entity error"
### Error(s) in server console, if any

L 03/30/2016 - 01:34:18: "Daedelus<162><STEAM_0:0:50157625><>" entered the game
L 03/30/2016 - 01:34:18: "Daedelus<162><STEAM_0:0:50157625><>" disconnected (reason "Disconnect by user.")
L 03/30/2016 - 01:34:18: Lua Error:
[ERROR] addons/ulib/lua/ulib/shared/hook.lua:110: addons/ulib/lua/ulib/server/ucl.lua:653: Tried to use a NULL entity!
1. fn - [C]:-1

[2016-04-02 12:47] Nayruden commented on #15
You should have more lines in the error than that -- can you post the full error?

[2016-04-02 16:27] ZachPL commented on #15
L 03/30/2016 - 01:34:01: Round ended.
L 03/30/2016 - 01:34:01: Result: innocent win.
L 03/30/2016 - 01:34:18: "Daedelus<162><STEAM_0:0:50157625><>" entered the game
L 03/30/2016 - 01:34:18: "Daedelus<162><STEAM_0:0:50157625><>" disconnected (reason "Disconnect by user.")
L 03/30/2016 - 01:34:18: Lua Error:
[ERROR] addons/ulib/lua/ulib/shared/hook.lua:110: addons/ulib/lua/ulib/server/ucl.lua:653: T

[2016-04-05 15:46] ZachPL commented on #15
I just noticed a similar error

L 04/03/2016 - 23:59:18: "gmo<1471><STEAM_0:0:91092683><>" connected, address "23.243.101.215:27005"
L 04/03/2016 - 23:59:19: "gmo<1471><STEAM_0:0:91092683><>" STEAM USERID validated
L 04/03/2016 - 23:59:21: "oneshotonPCin420p<1469><STEAM_0:0:103072541><>" disconnected (reason "Disconnect by user.")
L 04/03/2016 - 23:59:23: "gmo<1471><STEAM_0:0:91092683><>" entered

[2016-05-19 22:29] #15 closed, assigned to Nayruden

[2016-05-19 22:30] Nayruden commented on #15
Without a full stack trace, it's difficult to know the exact cause. I took my best guess as to where the error was occurring. It does seem sourcebans related, but it's ultimately something that ULX should be handling as well.

[2016-05-19 23:21] Nayruden commented on #14
Closed with 2bb1db40770b469983ec89956c46e7fb3ea1d1f2

[2016-05-19 23:21] #14 closed, assigned to Nayruden

[2016-07-04 22:20] ghost opened #17 "lua error when editing a ban"
### Steps to reproduce

1.ban someone
2.go to ban in GUI
3.then edit the ban
### Expected behavior

Tell us what should happen
Should change the ban without making luas
### Actual behavior

Tell us what happens instead
Made luas
### Error(s) in server console, if any

[ERROR] addons/ulib/lua/ulib/server/player.lua:167: attempt to call method 'Kick' (a nil value)
1. kick - addons/ulib/lua/ulib/serv

[2016-07-04 22:23] ghost opened #18 "Lua error when banning"
### Steps to reproduce

1.ban someone for a week
2.
3.
### Expected behavior

Tell us what should happen
Should ban with no luas made
### Actual behavior

Tell us what happens instead
Made lua in console and doesnt show in gui bans
### Error(s) in server console, if any

ULib queue error: addons/ulib/lua/ulib/server/player.lua:167: attempt to call method 'Kick' (a nil value)
### Error(s) in player

[2016-07-04 22:25] ghost commented on #10
Is this fixed now got same issue

[2016-07-05 10:20] Nayruden commented on #18
Please run "ulx debuginfo" in server console and paste the results here.

On Mon, Jul 4, 2016 at 18:23 Gamerpro2266 notifications@github.com wrote:

[2016-07-05 10:21] Nayruden commented on #10
The issue shows as closed if it is fixed
On Mon, Jul 4, 2016 at 18:25 Gamerpro2266 notifications@github.com wrote:

[2016-07-05 14:55] ghost commented on #18
] ulx version
ULib v2.61d (06/12/16)
ULX v3.71d (07/02/16)

[2016-07-05 14:57] ghost commented on #18
[debugdump.txt](https://github.com/TeamUlysses/ulib/files/348019/debugdump.txt)

[2016-07-05 17:15] ghost opened #19 "error in console and in cs error"
### Steps to reproduce

1.let someone join server
2.and when they spawn they get it
3.
### Expected behavior

Tell us what should happen
no lua error and no luas when spawning
### Actual behavior

Tell us what happens instead
when people are joining there is a lua and i have seen more people are timming out
### Error(s) in server console, if any

[ERROR] lua/includes/extensions/table.lua:50: bad a

[2016-07-05 17:22] Nayruden commented on #18
I'm fairly certain one of your many addons is doing something very bad to
your server. Please stop creating new issues until we resolve this one.
Please remove ALL other addons EXCEPT ulx/ulib and see if the problem
persists. If it does not, you will know one of your other addons is
seriously damaging the Lua environment.

On Tue, Jul 5, 2016 at 10:57 AM, Gamerpro2266 notifications@github.com
wrot

[2016-07-05 19:58] ghost commented on #18
Oh ok

[2016-07-05 20:17] ghost commented on #18
Do you have any idea of what addon it might be

[2016-07-05 20:49] ghost commented on #18
Could I add you on steam please
Mine is [OX:RP] Gamerpro2266

[2016-07-05 23:18] Nayruden commented on #18
I do not have any idea what addon it is, and I am only rarely available for chats on Steam. Did you try disabling all addons yet?

[2016-07-06 07:48] ghost commented on #18
No will do it later

[2016-07-06 14:24] ghost commented on #18
all fixed it was some think called utime.lua was missing from a file

[2016-07-06 14:24] ghost commented on #18
could i add you on steam please

[2016-07-06 19:53] #19 closed, assigned to nobody

[2016-07-07 21:11] Nayruden commented on #18
Feel free -- http://steamcommunity.com/id/megiddo

[2016-07-07 21:11] #18 closed, assigned to nobody

[2016-07-07 21:11] Nayruden commented on #17
#18 -- user fixed, conflict with other addons.

[2016-07-07 21:11] #17 closed, assigned to nobody

[2016-07-15 15:17] ghost commented on #17
this is still a error

[2016-07-15 15:17] ghost commented on #17
can we reopen plz

[2016-07-16 02:12] 60percentCaffeine commented on #17
@Gamerpro2266
"made luas"
lol'd

Please, use "Lua-errors" instead of "luas".

[2016-07-16 13:23] Nayruden commented on #17
The error you are getting indicates that your server is completely messed up. Recommend fresh reinstall and install addons carefully, one by one, to ensure you don't install one that destroys the Lua environment.

[2016-07-16 21:00] ghost commented on #17
Is there no other way

[2016-07-16 21:01] ghost commented on #17
Can I just reinstall the lua part

[2016-07-16 22:57] 60percentCaffeine commented on #17
@Gamerpro2266 Yes, you can just do "app_update 4020 validate", copy your addons folder somewhere else and make a new folder, and then install addons one by one to find who is a bad boy.

[2016-07-21 15:58] robotboy655 opened #21 "Workshop Version: umsg error"
[code]

I am assuming it is about ulib_repChangeCvar:
https://github.com/TeamUlysses/ulib/blob/81044e2a65790d264a45e9bbc54cbe1cb615b64c/lua/ulib/server/util.lua#L240-L245

Why does ULib still use user messages is beyond me.

This error happens with only ulib and ulx enabled.

[2016-07-21 16:35] Nayruden commented on #21
Please share your configuration file

[2016-07-21 16:45] robotboy655 commented on #21
I did not change any configuration(s). Everything is on its default settings, all I did was subscribe to the mods on the Steam Workshop - ULX and ULib. If you insist, tell where do I find it.

[2016-07-21 16:51] Nayruden commented on #21
Huh, the error is saying one of the ULX/ULib cvars is over 255 bytes, which is a known issue, but there's not really any good reason for such a large cvar value size (and definitely not any of the defaults). I can't look up the exact path right now, but I think the file is at data/ulx/config.txt.

[2016-07-21 16:55] robotboy655 commented on #21
http://pastebin.com/raw/KEnCzDGB

Here are the settings.
The issue is not that a convar is too large, it is that the usermessage contains > 255bytes of data.
You write like 3 strings into the usermessage.

Switch to net messages. You should've done this for everything years ago.

[2016-08-29 22:05] NullEnt1ty opened #24 "Unauthed player"
### Steps to reproduce
1. Load a multiplayer game (I used a dedicated server)
2. Spawn several bots
### Expected behavior

Nothing unusual.
### Actual behavior

I got a clientside error from ULX. Seems to pop up randomly sometimes when a player joins.

Reverting commit https://github.com/TeamUlysses/ulib/commit/180d7370ef57147ba443c6f6b882c79eea512f71 seems to fix the issue (I spawned 30 bots and

[2016-08-29 22:53] ghost commented on #24
I too am having this issue, what exactly would I need to do to revert the 'commit' you spoke of?  I am using my hosting providers SVN for ULX and ULIB.  This kicks out all sorts of funny errors for us and it seems to randomly select players to plague with the funny GUI errors which can also include being unable to open ULX menu and being unable to open the Q menu, rendering you unable to play the

[2016-08-29 23:56] DipDipPotatoChip commented on #24
Owner of server with LordHolywell. I have reverted to commit 180d737. Everything seems to be in order, although this conclusion is being drawn after 5 minutes of stable gameplay. I will post back in this discussion if any more issues seem to arise. Thank you.

[2016-09-01 16:46] ghost commented on #24
Been dealing with this same issue for 3 days. Completely wiped my server thinking it was a conflicting addon. I just ended up going back to ULib 2.61 and ULX 3.71 and everything works fine again.

Almost always occurs as someone is authed once joining and completely breaks xgui once the errors start.

[2016-09-04 07:14] bigdogmat opened #25 "CAMI Privileges not being handled correctly"
### Steps to reproduce
1. Register a privilege using `CAMI.RegisterPrivilege`, set MinAccess to `user`
2. Remove privilege from group `user` using something such as ulx menu
3. Call `CAMI.PlayerHasAccess` on a player that has the rank `user` and pass the registered privilege
### Expected behavior

The callback should be called with false
### Actual behavior

The callback is called with true
### Ve

[2016-09-04 13:17] Nayruden commented on #25
That is a very interesting conflict. There's no straightforward solution since CAMI must have a minimum access (it doesn't allow free-floating access like ULX does). Returning false instead of nil for "no information"-access would have other consequences. Probably the best way forward would be to convince @FPtje to make MinAccess an optional field. Thoughts, @FPtje?

[2016-09-04 14:05] FPtje commented on #25
This is not a "no information" case. I've tested it with FAdmin, and here's what it does:
- Register privilege with CAMI, `MinAccess` being `"user"`
- FAdmin registers the privilege and gives it to every group inheriting from user and up (you have to restart to see this clientside, but w/e). It thus treats the `MinAccess` field as a default/initial setup.
- Remove the privilege from user (from the

[2016-09-04 14:09] Nayruden commented on #25
@FPtje has weighed in, this issue will remain. Sorry we can't help further @bigdogmat.

[2016-09-04 14:09] #25 closed, assigned to Nayruden

[2016-09-04 14:10] FPtje commented on #25
But you can help by fixing this in ULX?

[2016-09-04 14:11] Nayruden commented on #25
There's nothing to fix in ULX. I could try to hack around CAMI's implementation, but I refuse to do that.

[2016-09-04 14:12] FPtje commented on #25
surely removing a privilege from `user` should deny `user` that privilege. There's no hacking to be done anywhere. FAdmin does it right, so why can't ULX?

[2016-09-04 14:13] DBotThePony commented on #25
Because of @Nayruden, DPP would not work with ULib. Sorry, @bigdogmat

[2016-09-04 14:13] FPtje commented on #25
Hold on with that politics stuff just yet, I think there might be a misunderstanding.

[2016-09-04 14:14] Nayruden commented on #25
What is DPP?

[2016-09-04 14:14] FPtje commented on #25
some prop protection

[2016-09-04 14:19] DBotThePony commented on #25
@Nayruden, ULib does NOTHING when third party addon asks for some permission when it was denided from player group, and returns true if player or his group have that permission. Understand?

[2016-09-04 14:22] Nayruden commented on #25
No. Please explain what you mean, @roboderpy. Is your comment related to DPP? If there's a conflict, please open a new, separate issue and we will investigate.

[2016-09-04 14:23] FPtje commented on #25
He's referring to this very issue.

[2016-09-04 14:26] DBotThePony commented on #25
Create privilege.
Grant acces to it in ulx group settings. - Returns true!
Deny access from it by deny acces from entrie player usergroup. - Returns nil!
Deny access by ulx userdeny. - Returns false!
This is not a conflict, i came here because @bigdogmat was unable to restrict access in DPP using ULX.

[2016-09-04 14:29] FPtje commented on #25
Basically ULX should not let the CAMI fallback decide whether a user has a privilege. The CAMI fallback is a fallback for when there's no admin mod installed.

Instead of returning a boolean conditionally, it should **always** be returned. That way, the CAMI fallback will never "conflict" with the admin mod.

[2016-09-04 19:51] Nayruden commented on #25
No need for the passive aggression, @roboderpy. I think I've figured a way to work around CAMI that will make everyone happy.

[2016-09-04 19:53] FPtje commented on #25
the words "work around" worry me.

[2016-09-04 23:33] DBotThePony commented on #25
wow, you really fixed it. But you was able instead of `not not` use `result or false`

[2016-09-04 23:54] bigdogmat commented on #25
Thank you

[2016-09-05 13:13] Nayruden commented on #24
The commit was reverted some time ago, sorry for the trouble, and thank you for reporting this. Keep in mind that if you are using the Git version, you are using a development version and these types of bugs slip by us occasionally here.

[2016-09-05 13:13] #24 closed, assigned to nobody

[2016-09-16 15:10] markusmarkusz opened #26 "ULib.execFile can cause errors"
### Steps to reproduce
1. Create for example a server.cfg
2. Execute it with (in this case) "ulx exec server.cfg" (This command is using ULib.execFile)
3. Have fun.
### Expected behavior

A config should get executed.
### Actual behavior

The log got spammed.
### Error(s) in server console, if any

http://hastebin.com/taqozogeyi.txt (it can also happen if there are other commands)
### Version

ULi

[2016-10-22 08:21] DBotThePony opened #27 "ULib's groups is not registered clientside in CAMI"
### Steps to reproduce

Call CAMI.GetUsergourps() (can with PrintTable) on both sides (client/server)
### Expected behavior

Tables are same
### Actual behavior

On client it have only three groups, on serverside it is have all groups registered in ULib
### Error(s) in server console, if any

None
### Error(s) in player's console, if any

None
### Version

ULib v2.61d
ULX v3.71d

[code]

[2016-10-23 17:55] Nayruden commented on #27
Thanks for the report! I will look into it, hopefully by the end of this week.

[2016-10-23 19:28] theaoneone opened #28 "errors"
### Steps to reproduce

1.
2.
3.
### Expected behavior

Conflict with fin 2
### Actual behavior

No idea don't cause problems it seems
### Error(s) in server console, if any

Didn't find any
### Error(s) in player's console, if any

[ERROR] lua/includes/extensions/math.lua:54: attempt to perform arithmetic on local 'high' (a nil value)
1. Rand - lua/includes/extensions/math.lua:54
   1. fn - lua/a

[2016-10-23 21:42] Nayruden commented on #28
The error is inside a hook in sv_fin; ULib shows up in the stack trace due to how it modifies the hook library, but you'd get the error regardless of ULib's presence. Closing issue.

[2016-10-23 21:42] #28 closed, assigned to nobody

[2016-10-27 00:33] #27 closed, assigned to Nayruden

[2016-10-27 00:47] Nayruden commented on #26
Unable to reproduce, can you link your server.cfg with any sensitive values removed?

[2016-10-27 14:47] markusmarkusz commented on #26
I know why that happens.
If you're trying to execute a blocked ConVar/ConCommand then this issue happens.
For example with `rcon_password ""`.
game.ConsoleCommand() doesn't allow executing this.
You can test it with a server.cfg like this:

[code]

[2016-10-27 21:34] Nayruden commented on #26
I tested with `ttt_preptime_seconds "10"`, as that was what was in your spam, and it worked fine for me.

[2016-10-27 21:40] markusmarkusz commented on #26
Try this config:

[code]

[2017-01-05 23:42] Nayruden commented on #26
Sorry for the delay... I tried the config you gave and it still works fine for me.

[2017-01-05 23:49] markusmarkusz commented on #26
This is strange. The bug seems to happen only by chance, but it exists. Just because game.ConsoleCommand() can't execute all commands.

[2017-01-06 00:08] Nayruden commented on #26
So if you run "ulx exec server.cfg", you only occasionally get the error?

[2017-01-06 00:12] markusmarkusz commented on #26
I haven't used this command so often, because I don't need so large server logs. But I got this message spammed after I ran a server.cfg, where sv_password and rcon_password were set to "".
I can test again, even if I don't do it.
But it is strange that you didn't get this problem. Is it perhaps dependent on the line endings?

[2017-01-06 16:32] markusmarkusz commented on #26
Try testing this config: https://hastebin.com/fuzepawawu.cfg

[2017-01-11 19:42] FPtje opened #29 "Active vulnerability: arbitrary Lua execution in config files"
Apparently this is enough of a problem for someone to release a "hotfix" for it on the DarkRP forums:

http://forum.darkrp.com/threads/ulx-ulib-exploit-fix.9250

The gist of the problem is as follows: ULib simply executes all lines that don't start with `exec` using `game.ConsoleCommand`. (See [here](https://github.com/TeamUlysses/ulib/blob/master/lua/ulib/shared/util.lua#L267)). Combined with `ul

[2017-01-14 17:57] Nayruden commented on #29
Definitely something we'll be addressing, thank you for the report. We continuously caution users to be more careful about what they install on their servers, but we certainly don't want to be a pathway for persistence for an admin's poor choices.

[2017-01-14 17:58] FPtje commented on #29
Thanks!

[2017-03-09 00:09] Nayruden commented on #29
Fixed, closing.

[2017-03-09 00:09] #29 closed, assigned to Nayruden

[2017-05-12 21:18] Timmy opened #31 "Overridden commands do not respect hide_say"
### Steps to reproduce
1. Use `ULib.HOOK_COMMAND_CALLED` to override a command that has `hide_say` set to true (e.g.: ulx psay).
[code]
2. Use the chat command to call the command.

### Expected behavior
The chat message should be suppressed.

### Actual behavior
The chat message appears in the chat box.

### Version
ULib v2.63d (03/21/17)
ULX v3.73d (03/21/17)

[2017-07-04 22:06] zffs opened #32 "ULib.execFile problems"
Steps to reproduce

Create for example a server.cfg
Execute it with (in this case) "ulx exec server.cfg" (This command is using ULib.execFile)
Have fun.
Expected behavior

A config should get executed.

Actual behavior

The log got spammed.

Error(s) in server console, if any

http://hastebin.com/taqozogeyi.txt (it can also happen if there are other commands)

Version

ULib v2.61
ULX v3.71d (07/02

[2017-07-04 22:14] #32 closed, assigned to nobody

[2017-07-04 23:10] Nayruden commented on #32
Why did you close the issue?

On Tue, Jul 4, 2017 at 5:14 PM, Don Diego <notifications@github.com> wrote:

[2017-07-22 18:48] ayyjacks opened #33 "Flooding server with bots disconnects clients"
### Steps to reproduce
1. Completely vanilla server with only latest ULib installed
2. lua_run for i = 1, 100 do RunConsoleCommand("bot") end
3. See all clients disconnect

### Expected behavior
Server should fill with bots without disconnecting any clients. Before I added ULib I was able to do this no problem.

### Actual behavior
Clients disconnect with the reason "Client 0 overflowed reliable c

[2017-08-01 01:22] feavr opened #34 "HTTP failed - ISteamHTTP isn't available!"
### Steps to reproduce
1. Have the ulib addon installed on a server.
2. Start the server normally.

### Expected behavior
No errors should be in the server console.

### Actual behavior
I haven't noticed anything out of the ordinary. However, it is a nuisance when trying to debug other addons.

### Error(s) in server console, if any
HTTP failed - ISteamHTTP isn't available!

### Version
v3.73d

[2017-08-01 01:23] Nayruden commented on #34
Nuisance error, it is a known issue with the way the HTTP library works. Does not cause any degradation.

[2017-08-01 01:23] #34 closed, assigned to nobody

[2017-08-08 03:37] Codingale commented on #33
The error is because you're sending too much data at once. The net library can't take so much data at once like that.. thus the disconnect. Try a lower number, not sure if `bot` will replace old bots with new ones causing another connect message etc.

[2017-08-14 17:31] cannon commented on #33
Try something like this:
[code]

[2017-08-18 15:39] Timmy opened #36 "Parsing player/players argument sometimes fails when ply is NULL"
### Steps to reproduce
1. Create a command with a `cmds.PlayerArg` or `cmds.PlayersArg` as an `cmds.optional` argument.
[code]
2. Call the command from the server console without arguments.

### Expected behavior
The command executes.

### Actual behavior
The following error gets thrown:
[code]

### Version
ULib v2.63d (03/21/17)
ULX v3.73d (03/21/17)

[2017-08-22 19:15] #36 closed, assigned to Nayruden

[2017-09-03 02:48] DBotThePony commented on #33
Yes, it disconnects, because ulib sends too much data at once.

[2017-09-05 22:13] Nayruden opened #37 "Lag with large number of bans (6k+)"
Way ahead:
1. Divorce ourselves of the Source Engine's ban mechanism altogether, as we can do it entirely in-house now with the "CheckPassword" hook.
2. Move data to SQLite.

[2017-09-06 04:00] Codingale commented on #37
`users.txt` is also causing issues, if there are a large number of people to manage.

[2017-09-06 11:40] Nayruden commented on #37
We've heard reports of that, but never actually observed it occurring in
the wild -- see referenced issue above. Folks who reported it were getting
lag from something else. If you believe you have that issue, please report
as such on the issue and we'll help troubleshoot on your server.

On Tue, Sep 5, 2017 at 11:00 PM, Codingale <notifications@github.com> wrote:

[2017-09-06 12:13] Codingale commented on #37
We had to clear our `users.txt` we had over 8,000 users in a file as we restrict basic things behind a rank you simply ask for.

[2017-09-07 01:27] ayyjacks commented on #33
I realize the crashes occur because net is being flooded, but ulib should take steps to prevent that from happening. Whether it be delaying net messages or optimizing them I'm not sure, but this behavior should be fixed.

[2017-09-07 04:11] Codingale commented on #37
Are you starting work on this or would it be acceptable if one of my friends starts work and makes a PR? He'd rather let you since you know what you're doing but he's always up for a challenge it seems..

[2017-09-08 21:59] Nayruden commented on #37
Sorry @Codingale, forgot to reply earlier. I was mostly done when you posted your question, but now I've got an initial solution ready. Tentatively closing via 0b4cdd0acbf86597446dee4576e7ece9aea15999.

[2017-09-08 21:59] #37 closed, assigned to Nayruden

[2017-09-08 22:05] Nayruden commented on #37
@Codingale mind testing it for me? Please report feedback at https://forums.ulyssesmod.net/index.php/topic,10520.0.html (trying to reach a wider audience than GitHub).

[2017-09-09 06:16] Codingale commented on #37
Seems good so far, will keep you updated here and on the forums so far no issues, are there plans for `users.txt` too? That also causes lag with large files.

[2017-09-09 12:02] Nayruden commented on #37
@Codingale I addressed that above, please see https://github.com/TeamUlysses/ulib/issues/37#issuecomment-327457445

[2017-09-09 17:42] Codingale commented on #37
Alright so just send you a `users.txt`? It's the same issue once you have so many people...

[2017-09-09 17:53] Nayruden commented on #37
Please take this discussion to the appropriate issue. Thanks!
On Sat, Sep 9, 2017 at 12:42 Codingale <notifications@github.com> wrote:

[2017-09-16 08:49] BlackCetha opened #38 "Performance problems caused by file IO"
I've had performance problems on my server for a longer period of time. My server hung for around 3 seconds when a player joined. I tracked this down to ULib and its file IO.

The user file on my server had accumulated to .5MB and after deleting it, the problems disappeared. My current workaround is to delete it once in a while, but there must be an actual solution.

I suppose there are better way

[2017-09-18 21:51] Nayruden commented on #38
This is related to TeamUlysses/ulx/issues/59, but this is the correct repository for the issue so I'll leave this one open. We've never been able to replicate this issue or see it occur in the wild. Can you please send us your users.txt and groups.txt? Would you be willing to let us see the issue on your server? If the problem is coming from these files, I'd also recommend disabling autopromote, w

[2017-09-19 18:13] iViscosity commented on #31
I think if [this line](https://github.com/TeamUlysses/ulib/blob/3e3e5fed7fbdaa7884f35330e0f1628948c4ddc8/lua/ulib/server/concommand.lua#L54) was changed to `return ""` rather than `return nil`, this would work.

Also, have you only tested with this command or other commands, as well?

[2017-09-19 20:14] BlackCetha commented on #38
I can send you the backup of the files, but I won't make them public. Please add me on steam for that.

I have never used autopromote. However, we currently have 800+ people with ranks on the server which are saved in a database, so the list does get quite lengthy.
I'm not sure if I can reproduce the issue if I just add back the files, but I'll try.

My steam profile is at http://steamcommunity.co

[2017-09-19 21:17] Codingale commented on #38
Sent it to him @BlackCetha  at <megiddo@ulyssesmod.net>
It's what I did in https://github.com/TeamUlysses/ulx/issues/59#issuecomment-326935507

[2017-09-19 21:18] Codingale commented on #38
It's what I did in https://github.com/TeamUlysses/ulx/issues/59#issuecomment-326935507

[2017-09-19 22:32] #31 closed, assigned to Nayruden

[2017-09-26 00:50] Nayruden opened #40 "Make sure one cannot ban oneself as a listen server host or in single player"
Currently possible, but we should prevent people from acting on this level of stupidity.

[2017-09-26 00:59] Nayruden commented on #10
@SticklyMan have you had a chance to look into this?

[2017-09-30 18:41] matiasg90 opened #41 "Problem perma unban"
### Steps to reproduce
1. ulx unban "STEAMID" (user with permanent ban)
2. ban is deleted from sv.bd
3. banned_user.cfg is not updated and ban is not removed

### Version
last version (Ulib - ulx)

[2017-10-09 14:43] #41 closed, assigned to Nayruden

[2017-12-11 20:44] Karlend opened #42 "serverside console flood"
1. We need to type "_u text" in console as client
2. We have "Unknown command: text" in server console

[2017-12-11 20:49] Nayruden commented on #42
Why do you need to run "_u text"?

On Mon, Dec 11, 2017 at 2:44 PM, mclarenss <notifications@github.com> wrote:

[2017-12-11 20:50] Karlend commented on #42
everyone can run "_u text"...

[2017-12-11 20:53] Nayruden commented on #42
And you have users running this repeatedly?

On Mon, Dec 11, 2017 at 2:50 PM, mclarenss <notifications@github.com> wrote:

[2017-12-11 20:54] Karlend commented on #42
Yes. Like for i=1,100 do RunConsoleCommand("_u", "hacked") end

[2017-12-11 22:43] Nayruden commented on #42
It's annoying, but not really a problem. I'll see about adding what user it's coming from.

[2017-12-17 19:08] Karlend opened #43 "Bypass immunity"
Every admin can bypass immunity with banid. Banid isnt checking immunity

[2017-12-17 23:32] Karlend commented on #43
must be ulx issue, sorry

[2017-12-17 23:32] #43 closed, assigned to nobody

[2017-12-17 23:50] Karlend opened #44 "ULib.getUsers needs SteamName() check"
### Steps to reproduce
1. We can try to do something with player`s steam name

### Expected behavior
Find him

### Actual behavior
No target found or target has immunity!

### Error(s) in server console, if any

### Error(s) in player's console, if any

### Version
ULib v2.63d
ULX v3.73d

## How to add
lua/ulib/shared/player.lua
245 string
if player:Nick():lower():find( piece:lower(), 1, true ) or

[2017-12-18 12:44] Nayruden commented on #44
What condition leads to the steam name being different from the in-game
name?

On Sun, Dec 17, 2017 at 5:50 PM, mclarenss <notifications@github.com> wrote:

[2017-12-18 12:44] Karlend commented on #44
Darkrp rpname

[2017-12-18 12:48] Nayruden commented on #44
In that case, why would you want to target by steam name rather than
in-game name?

On Mon, Dec 18, 2017 at 6:45 AM, mclarenss <notifications@github.com> wrote:

[2017-12-18 12:50] Karlend commented on #44
If you see profile/msg in steam group/private msg in steam. It will be much easier. Also notify about connection includes steam name

[2017-12-19 23:07] Nayruden commented on #44
Sorry, but this would appeal to a very narrow band of users and confuse many others. For consistency and ease of use, we'll stick with in-game names.

[2017-12-19 23:07] #44 closed, assigned to nobody

[2018-02-04 10:20] #10 closed, assigned to SticklyMan

[2018-02-04 10:23] SticklyMan commented on #10
I was only able to reproduce this after making a time-based NumArg restriction (ulx ban) with the same min and max that was not 0, then tried to set the time using the numberwang thing.

Not sure if that was the original issue, but the fix should work regardless. (Basically, there was invalid input sent to the code to enforce min/max constraints)

[2018-02-16 06:01] SticklyMan commented on #42
This has been resolved in 58659ac275caffbaa689d5e835e7079f1128e1be

[2018-02-16 06:01] #42 closed, assigned to nobody

[2018-02-17 14:42] Nayruden opened #45 "Change HOOK_PLAYER_NAME_CHANGED to be generated off game event"
Currently using a timer to check for name changes, but Garry allows hooking into game events now. See http://wiki.garrysmod.com/page/Game_Events.

[2018-04-23 00:07] Bash4195 opened #46 "The ULibUserRemoved Event Passes the Wrong ID to the Callback"
This issue just needs the documentation updated to say that it returns a ulib id, or update the functionality to return the user steam id. It only took a bit of digging to find out I needed to use `ULib.getPlyByID(id):SteamID64()` to get the Steam ID I needed, but to save others the trouble, I wanted to point this out.

### Steps to reproduce
1. Run a function on the hook `ULibUserAccessChange` an

[2018-04-23 00:43] Nayruden commented on #46
There's no "ULib specific ID". It's possible that it could pass back the IP or UID (UID is determined by the engine) of the player in the hook, but that's only if you're calling the API directly to add/remove users since ULX/XGUI dropped support for those a long time ago.

You should be getting a standard / 32-bit SteamID in the hook. If you want to convert it to a 64-bit SteamID, it's best to pas

[2018-04-23 00:43] #46 closed, assigned to nobody

[2018-04-23 01:19] Bash4195 commented on #46
Ah okay, I just checked and it is the UID you mentioned. Still, that's the ID I'm getting from the hook rather than a Steam ID. I'm on the latest version of ULX and ULib, not accessing any internal functions directly, just using that hook in the post. Any other ideas? I'm running this server-side if that helps.

I'm at least able to use the `ULib.getPlyByID` function to get the player object with

[2018-05-12 12:54] #45 closed, assigned to Nayruden

[2018-05-12 12:54] #40 closed, assigned to Nayruden

[2018-06-03 13:11] mcNuggets1 opened #48 "Random errors"
### Steps to reproduce
Unknown

### Expected behavior
There shouldnt be an error

### Actual behavior
There was an error in the server console (maybe a missing IsValid check?)

### Error(s) in server console, if any
[ERROR] addons/ulib/lua/ulib/server/player.lua:244: attempt to call method 'SetClip1' (a nil value)
  1. doWeapons - addons/ulib/lua/ulib/server/player.lua:244
   2. unknown - addons/u

[2018-08-10 09:02] ghost opened #49 "please close"
Snip Im a retard

[2018-12-24 14:42] Haxo24 opened #51 "How to fix this"
I would like to know how to fix this

### Error(s) in server console, if any
n - [C]:-1

Error in hook PostDrawViewModel: lua/tfa/modules/tfa_vm_blur.lua:145: attempt to call method 'DrawLaser' (a nil value)
stack traceback:
	lua/tfa/modules/tfa_vm_blur.lua:145: in function 'fn'
	addons/ulib-master/lua/ulib/shared/hook.lua:109: in function <addons/ulib-master/lua/ulib/shared/hook.lua:92>
	[C]: in

[2018-12-24 19:57] CattoGamer commented on #51
Not a ulib issue, contact TFA for fix his mess.

[2018-12-24 20:00] #51 closed, assigned to nobody

[2019-01-10 07:32] mcNuggets1 opened #52 "Update CAMI"
CAMI Updated, so you want to update it.

[2019-01-12 00:47] alraspe opened #53 "ULib users.txt Issue"
### The Problem
ULib has somehow added two entries for the same player inside of the "users.txt" file, one with their SteamID and the other with their IP. Both entries have a different rank variable and the rank of the user always locks to the IP's variable. Running "ulx adduser" doesn't do anything not even sending an error to the console. Changing the rank variable doesn't do anything as it alwa

[2019-01-18 19:23] #53 closed, assigned to nobody

[2019-01-19 17:04] #26 closed, assigned to Nayruden

[2019-02-23 19:03] ThomasTwoFace opened #54 "Nutscript 1.1 Extreame Lagg"
### Steps to reproduce
1.Run the server as normal
2.Wait for the serve to populate
3. Extream lagg that affects everyone to the point that people cant move

### Expected behavior
Extreme lagg to the point that people cant move or drive

### Actual behavior
Please find the enclosed screenshot

### Error(s) in server console, if any
### Error(s) in player's console, if any
### Version
Run "ulx versi

[2019-04-07 12:25] djtb2924 commented on #54
What relationship with ulib ?

[2019-06-02 15:10] NovaAstral opened #56 "IsWorldClicker error"
### Steps to reproduce
1. Join friends p2p server
2. Hold C to try using the context menu (GB radial does a similar error too when trying to open its options menu with right click while its open)
3. profit??

### Expected behavior
Tell us what should happen
Context menu should open (GB Radial settings should open)

### Actual behavior
Tell us what happens instead
Error Happens the entire time the

[2019-06-03 00:50] Nayruden commented on #56
ULib changes the way the hooking system works, which is why you see it in the stack trace. However, the bug lies in the addon (GB radial), not ULib or ULX.

[2019-06-03 00:50] #56 closed, assigned to nobody

[2019-06-03 02:09] NovaAstral commented on #56
This happens without Gb radial, I included that error just incase, I think we can test what addon would be causing it though (Probably should've done thst in the first place)

[2019-07-17 02:31] takaqiao opened #57 "Some weird errors"
### Steps to reproduce
1.Seems like it will show up when player completely join the server(after connecting)

### Expected behavior
No idea

### Actual behavior
No idea

### Error(s) in server console, if any
[ERROR] lua/includes/modules/hook.lua:120: attempt to index local 'gm' (a number
 value)
  1. Call - lua/includes/modules/hook.lua:120
   2. fn - addons/ulib/lua/ulib/cl_init.lua:58
    3. fu

[2019-07-17 03:23] bigdogmat commented on #57
It seems like `_` is a number value and `hook.Call` is attempting to index it cause that's the gamemode argument.
https://github.com/TeamUlysses/ulib/blob/e887b4086124a69fad9efd58ce6ce4311d60e3aa/lua/ulib/cl_init.lua#L58

ulib has built in protection against `_` being changed though it only works if it's able to change the meta table of the `_G` table.
https://github.com/TeamUlysses/ulib/blob/c44d

[2019-07-17 16:07] takaqiao commented on #57
I see.. U have any temp fix for this?

[2019-07-17 19:17] bigdogmat commented on #57
temp temp fix, `lua_run _ = nil`
temp fix, change that line and every other that uses `_` as an argument expecting it to be nil, to nil

Or you could try to figure out why the meta table protection didn't work, my only guess would be another addon overwriting it.

[2019-08-23 17:54] Nayruden commented on #54
Not sure why OP is getting this message, but Google pulls up nothing about any ULX/Nutscript conflicts and ULX is actually recommended by the developers -- https://nutscript.miraheze.org/wiki/Installing_Nutscript .

[2019-08-23 17:54] #54 closed, assigned to nobody

[2019-11-09 03:03] LeSuriKat opened #59 "Weird Error when player's getting hit"
### Steps to reproduce
1. Be on the server
2. Get hit

### Expected behavior
There should be no error and every EntityTakeDamage hook should apply normaly

### Actual behavior
I've got the following erros and some hooks seems to be stopped

### Error(s) in server console, if any
![image](https://user-images.githubusercontent.com/57335422/68521817-1dbce700-02a5-11ea-86a3-61c5ad6ea8f3.png)

![image]

[2019-11-09 14:00] Nayruden commented on #59
ULib changes the default GMod hook behavior, so that's why you're seeing ULib mentioned in the stack trace. Unfortunately, none of the other code on your stack trace is something we have any control over, and the manner in which this author hooked into this event is definitely odd -- that's why you're seeing that long string that starts with a comment. This is sometimes a technique used by exploit

[2019-11-09 14:00] #59 closed, assigned to nobody

[2020-01-15 15:30] LivacoNew opened #60 "ulx removeuser in console doesn't call ULibUserRemoved or ULibUserGroupChange hooks"
### Steps to reproduce
1. Make a user something other than user.
2. Make a hook for either ULibUserRemoved and ULibUserGroupChange and make it just print something.
2. Run ulx removeuser on that user in the console.
3. Hook shows nothing.

### Expected behavior
The hook runs after the command is called in the console, just like removing the user in the UI.

### Actual behavior
Neither hook is call

[2020-04-20 22:50] RalphORama opened #61 "[ULib] RunConsoleCommand: Command is blocked! (exec)"
### Steps to reproduce
1. Create a cfg file in `garrysmod/cfg` (i.e. `ttt.cfg`)
2. In a Lua script, run the code `RunConsoleCommand("exec", "ttt.cfg")`
3. Error appears in console (see "Error(s) in server console" section)

### Expected behavior

The console command `exec ttt.cfg` should execute without Ulib interference

### Actual behavior

Execution is blocked

### Error(s) in server console, i

[2020-04-20 22:52] Nayruden commented on #61
This is a limitation in gmod and why we created a command to execute
configs.

On Mon, Apr 20, 2020 at 18:50 Ralph Drake <notifications@github.com> wrote:

[2020-04-20 22:53] #61 closed, assigned to nobody

[2020-04-20 23:28] RalphORama commented on #61
What is the command / Lua call?  I'm paging through the Ulib documentation but don't see it.

[2020-04-20 23:31] Nayruden commented on #61
http://ulyssesmod.net/docs/files/lua/ulib/shared/util-lua.html#execFile

On Mon, Apr 20, 2020 at 19:29 Ralph Drake <notifications@github.com> wrote:

[2020-04-25 01:27] Nayruden opened #62 "Re-register default groups in CAMI to fix inheritance mis-match"
https://github.com/TeamUlysses/ulib/blob/master/lua/ulib/shared/cami_ulib.lua line 110 currently ignore default groups, but should be changed to include them. CAMI will otherwise see admin as inheriting from user (the gmod default), when it really inherits from operator (the ULX default).

[2020-06-09 16:16] ghost commented on #57
Sorry to bring up an old post, but I'm receiving this exact same lua error too. The temp fix you put, where would I do this? As in the `lua_run _ = nil`. Sorry, I know very little about lua.

[2020-06-11 14:05] ghost opened #64 "lua/includes/modules/hook.lua:120: attempt to index local 'gm' (a number value)"
### Steps to reproduce
1. Random time on server error occurs in console (sometimes when someone joins the server).
2. This then causes an error when someone attempts to open ULX menu.
3. ULX menu can still be opened using !menu.

### Expected behavior
ULX menu should open.

### Actual behavior
Error occurs instead.

### Error(s) in server console, if any
![image](https://user-images.githubusercont

[2020-06-12 02:21] bigdogmat commented on #57
It's a console command, depending on the realm you're getting the error from you run it either in server console or client console.

[2020-06-12 07:52] ghost commented on #57
How would you go about a more permanent fix?

[2020-06-12 09:45] bigdogmat commented on #57
I listed 2 in my previous comment

[2020-06-12 10:15] ghost commented on #57
Sorry, I don't know lua.
Can you explain it in idiot terms for me? haha

[2020-09-21 13:24] #64 closed, assigned to nobody

[2020-09-29 18:08] thegrb93 opened #67 "Memory leak BackwardsHooks not cleared when entity key'd hook removed"
https://github.com/TeamUlysses/ulib/blob/e887b4086124a69fad9efd58ce6ce4311d60e3aa/lua/ulib/shared/hook.lua#L132
Leads to a memory leak.

[2020-10-28 06:31] #49 closed, assigned to nobody

[2020-11-08 04:27] marcquebec opened #68 "ULib queue error: lua/includes/util/color.lua:16: bad argument #1 to 'min' (number expected, got nil)"
### Steps to reproduce
1. Install ULib v2.63 + ULX v3.73 on dedicated gmod TTT server
2. ???
3. Join server and error popups once it's done loading

### Expected behavior
Tell us what should happen
No errors
### Actual behavior
Tell us what happens instead
Error
### Error(s) in server console, if any
[ulib-2.63] lua/includes/util/color.lua:16: bad argument #1 to 'min' (number expected, got nil)

[2020-11-11 06:12] stopher991 opened #69 "ULib not allowing any right-click action (Context menu, Scoreboard, Spawn Menu, etc.)"
### Steps to reproduce
1. Spawn any prop
2. Try to use properties menu on prop
3. Receive errors from ULib

### Expected behavior
Tell us what should happen
All right click actions should be working as normal, and vgui panels should be appearing where users are right clicking, whether it be on props, scoreboard users, spawn menu items, or anything that will bring up a vgui panel.
### Actual behavi

[2020-11-12 13:40] Nayruden commented on #69
Thanks for your interest in Ulysses projects!

Unfortunately, this error is not related to ULib. ULib is in the stack trace because we change the functionality of the gmod hooks, but the error is from the hook target.

[2020-11-12 13:40] #69 closed, assigned to nobody

[2020-11-18 17:44] LifeDreamer24 opened #70 "Temp ban issue | Time left hidden"
### Steps to reproduce
1. Ban someone temporarly.
2. Wait until unban.
3. Player is still banned and time left is hidden.

### Expected behavior
Unban automatically the player after the time left elapses.

### Actual behavior
On connecting after the time has elapsed:
https://cdn.discordapp.com/attachments/748609612642517052/778674618314915840/unknown.png

### Error(s) in server console, if any
[co

[2020-11-18 21:06] LifeDreamer24 commented on #70
[code]
Still happens with:
- A factory new server.
- The css game textures.
- A map i made.

[2020-11-27 19:24] thegrb93 commented on #67
Add `BackwardsHooks[ name ][ k ] = nil` to fix

[2020-12-02 23:56] LifeDreamer24 commented on #70
Began to work for no actual reason... Idk why.

[2020-12-02 23:56] #70 closed, assigned to nobody

[2021-03-09 21:08] ZEROPOINTBRUH opened #71 "[ulib] lua/damagelogs/client/listview.lua:215: table index is nil 1. fn - lua/damagelogs/client/listview.lua:215 2. unknown - addons/ulib/lua/ulib/shared/hook.lua:109"
[ulib] lua/damagelogs/client/listview.lua:215: table index is nil
  1. fn - lua/damagelogs/client/listview.lua:215
   2. unknown - addons/ulib/lua/ulib/shared/hook.lua:109

Client "zeropoint" spawned in server <STEAM_0:1:169573528> (took 21 seconds).
There is 1 Lua problem!
	Please check your console for more information!
[ERROR] A runtime error has occurred in "gamemodes/darkrp/gamemode/modules/b

[2021-03-09 21:26] #71 closed, assigned to nobody

[2021-04-16 20:57] Peekofwar opened #73 "[v2.63w] Changing phys_timescale Produces a Strange Bug"
### Steps to reproduce
1. Open the server settings in the admin section of the Utilities tab.
2. Click and drag the slider.
3. Release the slider and watch. Repeat step 2 a few times if nothing unusual happens.

### Expected behavior
The slider should stay where it was set to by the user.

### Actual behavior
The slider constantly moves between multiple values, which can be observed by watching th

[2021-06-25 17:46] JoshPiper commented on #21
This was fixed by @zpetty33 in https://github.com/TeamUlysses/ulib/commit/09c4e751a1deaec6202c7c5c23a8b11205720956.

[2021-06-25 20:40] #21 closed, assigned to nobody

[2021-06-30 18:41] AngeSama opened #77 "Error lua"
### Steps to reproduce
1. Launch the server
2. The error occurs in the console
3.

### Expected behavior
Normal operation expected

### Actual behavior
The error occurs every time a player joins the server

### Error(s) in server console, if any

[Ange Sama|2|STEAM_0:1:20744799] Lua Error:

[ulib-master] addons/ulib-master/lua/ulib/shared/sh_ucl.lua:48: attempt to call method 'UniqueID' (a nil val

[2021-07-12 01:38] #77 closed, assigned to nobody

[2021-07-15 23:17] #9 closed, assigned to Nayruden

[2021-10-15 12:42] Jayy-Smitty opened #79 "Error with registering warrant/wanted reason with darkrp vars"
### Steps to reproduce
1.install dark rp ulx and ulib
2.become and officer
3. create warrant/wanted reason

### Expected behavior
Tell us what should happen: There should be no error not quite sure if this is actually ulib.. Any input would be helpful..

### Actual behavior
Tell us what happens instead: It will create a error in game.

### Error(s) in server console, if any

[ulib] Warning! A net

[2021-11-24 20:50] ZenBre4ker commented on #79
Are you sure that was the first error in console? Try to restart and see what happens, because I tried `ULib.replicatedWritableCvar( sv_cvar, cl_cvar, default_value, save, notify, access )` with default_value as as value not a string. Before that made no problems, but since the .net update I get an error
https://github.com/TeamUlysses/ulib/commit/09c4e751a1deaec6202c7c5c23a8b11205720956#diff-dbb40

[2021-11-24 20:54] ZenBre4ker opened #81 "ULib.replicatedWritableCvar no longer works with values as default_value"
### Steps to reproduce
1. Use `ULib.replicatedWritableCvar("some_name", "other_name", true, true, true, "mysettings")`

### Expected behavior
The Cvar should just be registered as always no matter the value I give as default.

### Actual behavior
The system crashes and the gamemode doesnt work anymore.

### Error(s) in server console, if any
[code]
### Error(s) in player's console, if any

### Ver

[2021-11-25 01:14] bigdogmat commented on #81
The documentation says it should be given a string, https://github.com/TeamUlysses/ulib/blob/09c4e751a1deaec6202c7c5c23a8b11205720956/lua/ulib/server/util.lua#L98

The last change was for converting umsg to the net lib, my guess would be the `umsg.String` didn't error when given a non string. So while it may have worked in the past it was only because of chance.

[2021-11-25 03:49] Nayruden commented on #81
As @bigdogmat points out, this function is documented as requiring a string.

[2021-11-25 03:49] #81 closed, assigned to nobody

[2021-11-26 08:08] ZenBre4ker commented on #81
But guys, gmod is now 15 years old I am only asking to make a failsafe for all those old addons, that still use that? Just converting it with tostring() shouldnt be a problem, right?

[2021-11-26 08:21] TimGoll commented on #81
I have to agree with @ZenBre4ker here. At least in the TTT community all addons are broken because of this change. However none is going to update these addons.

We get weekly bugreports about TTT2 being broken since you guys changed this. Even though TTT2 doesn't use ulx anymore.

[2021-12-07 19:35] JoshPiper commented on #81
Considering TeamUlysses/ulx#195, and how ULX doesn't internally cast to strings either, perhaps documentation isn't enough, and this should be revisited?

[2022-08-05 03:14] #48 closed, assigned to nobody

[2022-08-05 03:30] wrefgtzweve opened #85 "Ban reason steamid showing up weird"
### Steps to reproduce
1. Configure the {{STEAMID}} replacement in the ulib ban message
2. Ban yourself
3. See ban message

### Expected behavior
Expected result would be the "normal" steamid like `STEAM_0:5:55476604`

### Actual behavior
Shows `0555476604` instead.

### Reason
Currently the steamid is being gsubbed before it's being used, I'm not sure why this is being done.
https://github.com/Te

[2022-08-05 20:42] zpetty33 commented on #85
Fixed: I removed the gsub on the STEAMID replacement. I also fixed another bug I found with how gsub seems to be handled by glua now. Closing issue.

[2022-08-05 20:42] #85 closed, assigned to nobody

[2022-08-05 20:47] zpetty33 commented on #79
This issue was fixed in https://github.com/TeamUlysses/ulib/pull/82

[2022-08-05 20:47] #79 closed, assigned to nobody

[2022-08-05 21:31] zpetty33 commented on #68
This seems like a misconfigured MOTD file. I am unable to replicate. If you are still having this issue, please open a new issue and attach your MOTD

[2022-08-05 21:31] #68 closed, assigned to nobody

[2022-08-05 21:33] zpetty33 commented on #73
I was able to replicate. This issue seems to be linked to our replicated CVar system. I am going to see if SticklyMan can get to the bottom of this since it's an issue with XGUI.

[2022-08-05 21:39] zpetty33 commented on #67
Added. Thank you for finding this!

[2022-08-05 21:39] #67 closed, assigned to nobody

[2022-08-05 23:12] zpetty33 commented on #60
![image](https://user-images.githubusercontent.com/1337776/183222345-da1557b0-b8bf-4818-a112-2042b5b42702.png)

I'm afraid I'm unable to reproduce this issue. The hook seems to call just fine for me on the latest version ULib.

[2022-08-05 23:12] #60 closed, assigned to nobody

[2022-08-05 23:19] zpetty33 commented on #57
Unable to reproduce. Closing ticket. If you find a way to reliably reproduce the error, please let us know.

[2022-08-05 23:19] #57 closed, assigned to nobody

[2022-08-05 23:20] zpetty33 commented on #38
https://github.com/TeamUlysses/ulib/pull/74 has been merged in the experimental branch. This will fix IO issues caused by massive users.txt files.

[2022-08-05 23:20] #38 closed, assigned to nobody

[2022-08-05 23:21] zpetty33 commented on #33
ULib was updated to use the net library instead of the old umsg library. This should address this issue.

[2022-08-05 23:21] #33 closed, assigned to nobody

[2022-08-13 02:43] Peekofwar commented on #73
So, despite XGUI not being open, it's still setting cvars? Maybe add a condition to where it only modifies the cvars if XGUI is open...

[2022-08-13 16:04] zpetty33 commented on #73
The problem is that it's replicated, so all users with access would need to get the updated value. I think we can fix it, it was just one of those little things that we never knew was happening. It's on our list to look at when we've got time to deep dive.